.singleMeetup {
	background: #00302c7c;
	/* padding: 20px; */
	margin: 20px;

	border-radius: 10px;
   box-shadow: 0 0 20px #00000050;

	width: 350px;
	height: 320px;

	text-align: center;
}

.singleMeetup h2 {
   margin: 5px;
}

.image {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   width: 100%;
   height: 180px;
   background-color: #376967;
}

.image img {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.actions{
   width: 100%;
   padding: 10px;
   margin: 10px 0; 
}

.actions button{
   border: 2px solid #376967;
	border-radius: 10px;
	padding: 10px 20px;

	color: #4e9490;
	background: rgba(255, 255, 255, 0.747);

	font-weight: 600;
	font-size: 18px;
}

.actions button:hover {
   color: white;
	background-color: #4e9490;
}