.meetupForm {
	background-color: rgb(207, 224, 224);

	width: 480px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.meetupForm label {
	color: #4e9490;
	font-size: 18px;
	font-weight: 600;
}

.meetupForm input,
.meetupForm textarea {
	padding: 8px;
	width: 100%;
	margin: 2px 1px 10px 1px;

	border: 2px solid #c5c5c5;
	border-radius: 5px;
}


.actions {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.actions button {
	border: 2px solid #4e9490;
	border-radius: 10px;
	padding: 10px 15px;

	color: #4e9490;
	background: inherit;

	font-weight: 600;
	font-size: 18px;

	transition: all 0.5s ease;
}

.actions button:hover {
	color: white;
	background-color: #4e9490;
}
